.nav-item > a {
    color: $white-font-footer;
}

.container-fluid{
    overflow-x: hidden;
}

.fonditorojo {
    background: red;
    background-color: red;
}
.container-slider{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    overflow-x: hidden;
    
}

.no_display{
    display: none !important;
}

.flexslider {
    margin-top: 0 !important;
}



