.nav-item > a {
    color: $white-font-footer;
}

.container-fluid{
    overflow-x: scroll hidden;
}

.fonditorojo {
    background: red;
    background-color: red;
}
.container-slider{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    overflow-x: hidden; 
}

.no_display{
    display: none !important;
}

.flexslider {
    margin-top: 0 !important;
}


.history-jumbo{
    padding-top: 10%;
    padding-bottom: 10%;
}

.background-black{
    background:rgba(0, 0, 0, 0.5);
}

.history-cont-fluid{
    background: url(../images/history_background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
}

.history-content-text{
    color: white;
    font-size: 1.5rem;
    line-height: 200%;
}

.full{
    height: 85vh;
}

.node__content {
    margin-top: 0;
}

.flexslider {
    border: 0px;
}

#main {
    margin-top: 0px;
}
